<div class="designer-view">
    <div>
        <my-stencil components="stencilComponents" on-select="addComponentToCanvas(component)"></my-stencil>
    </div>

    <div>
        <my-canvas components="canvasComponentModels" on-select="selectCanvasComponent(component)"></my-canvas>
    </div>

    <div>
        <my-inspector ng-if="inspectorComponent"
                component-model="inspectorComponent"></my-inspector>
    </div>
</div>

<button ng-click="showFinalConfigArr()">Show final json</button>
<pre>{{JSON | json}}</pre>