.designer-view {
    background: #aaa;
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 100%;
}

.designer-view > div {
    flex-grow: 1;
    width: 33%;

}
.designer-view > div:nth-child(even) {
    background: #23a;
}
.designer-view > div:nth-child(odd) {
    width: 200px;
    background: #49b;
}

my-menu {
    color: #000;
    width: 50px;
}

.select-component-button {
    margin-top: 170%;
    width: 335px;
    height: 50px;
}

body {
    height: 1000px;
}

.selected-component {
    border: 2px solid palevioletred;
}

.type {
    height: 200px;
    width: 100%;
    background-color: #F6C6CE;
    border: 1px solid rebeccapurple;
    margin: 2px;
}