.designer-view {
    background: #aaa;
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 100%;
}

.designer-view > div {
    flex-grow: 1;
    width: 33%;

}
.designer-view > div:nth-child(even) {
    background: #23a;
}
.designer-view > div:nth-child(odd) {
    width: 200px;
    background: #49b;
}

my-menu {
    color: #000;
    width: 50px;
}

my-stencil .select-component-button {
    margin-top: 170%;
    width: 335px;
    height: 50px;
}

body {
    height: 1000px;
}

my-stencil .selected-component {
    border: 2px solid palevioletred;
}

foo-component > div {
    height: 50px;
    width: 95%;
    background-color: #F6C6CE;
    border: 1px solid rebeccapurple;
    margin: 2px 2px 2px 15px;
}

my-inspector {
    margin-top: 5%;
}